<!-- ############# MACHINE SECTION ############# -->
<div class="row">
  <h2>{{ machineId }}</h2>
</div>
<div class="row">
  <div
    *ngIf="isSelectedMetric('press')"
    [ngClass]="{
      'col-3': selectedMetrics.length === 4,
      'col-4': selectedMetrics.length === 3,
      'col-6': selectedMetrics.length === 2,
      'col-12': selectedMetrics.length === 1
    }"
  >
    <app-line-chart
      [chartTitle]="pressChartTitle"
      [lineChartData]="pressLineChartData"
      [lineChartLabels]="pressLineChartLabels"
    ></app-line-chart>
  </div>
  <div
    *ngIf="isSelectedMetric('temp')"
    [ngClass]="{
      'col-3': selectedMetrics.length === 4,
      'col-4': selectedMetrics.length === 3,
      'col-6': selectedMetrics.length === 2,
      'col-12': selectedMetrics.length === 1
    }"
  >
    <app-line-chart
      [chartTitle]="tempChartTitle"
      [lineChartData]="tempLineChartData"
      [lineChartLabels]="tempLineChartLabels"
    ></app-line-chart>
  </div>
  <div
    *ngIf="isSelectedMetric('omega')"
    [ngClass]="{
      'col-3': selectedMetrics.length === 4,
      'col-4': selectedMetrics.length === 3,
      'col-6': selectedMetrics.length === 2,
      'col-12': selectedMetrics.length === 1
    }"
  >
    <app-line-chart
      [chartTitle]="omegaChartTitle"
      [lineChartData]="omegaLineChartData"
      [lineChartLabels]="omegaLineChartLabels"
    ></app-line-chart>
  </div>
  <div
    *ngIf="isSelectedMetric('speed')"
    [ngClass]="{
      'col-3': selectedMetrics.length === 4,
      'col-4': selectedMetrics.length === 3,
      'col-6': selectedMetrics.length === 2,
      'col-12': selectedMetrics.length === 1
    }"
  >
    <app-line-chart
      [chartTitle]="speedChartTitle"
      [lineChartData]="speedLineChartData"
      [lineChartLabels]="speedLineChartLabels"
    ></app-line-chart>
  </div>
</div>
