<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card">
      <div class="card-body" *ngIf="machineFormGroup !== null">
        <h2 class="card-title">Machines</h2>
        <form [formGroup]="machineFormGroup">
          <div *ngFor="let m of allMachines">
            <label class="container"
              >{{ m }}
              <input
                type="checkbox"
                formControlName="{{ prepareFormControlName(m) }}"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Metrics</h2>
        <form [formGroup]="metricFormGroup">
          <label class="container"
            >Pressure
            <input type="checkbox" formControlName="press" />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Temperature
            <input type="checkbox" formControlName="temp" />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Angular velocity
            <input type="checkbox" formControlName="omega" />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Speed
            <input type="checkbox" formControlName="speed" />
            <span class="checkmark"></span>
          </label>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body button-wrapper">
        <button
          type="button"
          class="button back-button mr50"
          (click)="onSubmit()"
        >
          Back
        </button>
        <button
          type="button"
          class="button confirm-button"
          (click)="onSubmit()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
