<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card">
      <div class="card-body" *ngIf="machineFormGroup !== null">
        <h5 class="card-title">Machines</h5>
        <form [formGroup]="machineFormGroup">
          <div *ngFor="let m of allMachines">
            <label
              ><input
                type="checkbox"
                formControlName="{{ prepareFormControlName(m) }}"
              />{{ m }}</label
            ><br />
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Metrics</h5>
        <form [formGroup]="metricFormGroup">
          <label><input type="checkbox" formControlName="press" />Pessure</label
          ><br />
          <label
            ><input type="checkbox" formControlName="temp" />Temperature</label
          ><br />
          <label
            ><input type="checkbox" formControlName="omega" />Angular
            velocity</label
          ><br />
          <label><input type="checkbox" formControlName="speed" />Speed</label
          ><br />
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <button
          type="button"
          class="btn btn-secondary filter-button"
          (click)="onSubmit()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
