<br />
<br />
<button
  type="button"
  class="btn btn-secondary filter-button"
  (click)="setupFilter()"
>
  Setup filter
</button>
<br />
<!-- <app-messages [machineName]="machineName"></app-messages> -->
<!-- ############# MACHINE SECTION ############# -->
<app-machine-dashboard [machineId]="machineId1"></app-machine-dashboard>
<!-- ############# MACHINE SECTION ############# -->
<app-machine-dashboard [machineId]="machineId2"></app-machine-dashboard>
<!-- ############# MACHINE SECTION ############# -->
<app-machine-dashboard [machineId]="machineId3"></app-machine-dashboard>

<br />
<br />
<br />
