<br />
<br />
<button
  type="button"
  class="btn btn-secondary filter-button"
  (click)="setupFilterOptions()"
>
  Setup filter
</button>

<br />

<app-filter-options
  *ngIf="filterOptionsVisible"
  (selectedFilterOptions)="onSelectedFilterOptions($event)"
></app-filter-options>

<!-- <app-messages [machineName]="machineName"></app-messages> -->
<!-- ############# MACHINE SECTION ############# -->
<div *ngIf="!filterOptionsVisible">
  <app-machine-dashboard
    *ngFor="let machineId of selectedMachineIds"
    [machineId]="machineId"
    [selectedMetrics]="selectedMetrics"
  ></app-machine-dashboard>
</div>

<br />
<br />
<br />
